{% if site.google_analytics %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HZ7XL0FN03"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('event', 'page_view', {
		page_title: '{{ page.title | replace: "'", "\\'" }}',
		page_location: '{{ site.baseurl }}{{ page.url }}',
		send_to: '{{ site.google_analytics }}'
	  });
	  gtag('config', 'G-HZ7XL0FN03');
	</script>
{% endif %}
